@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#input-city {
  border: none;
  outline: none;
  height: 50px;
  font-size: 16px;
  padding-left: 10px;
  margin-top: 25px;
  width: 100%;
}
#logo-container {
  font-size: 70px;
  font-family: "Bebas Neue", cursive;
  display: flex;
  align-items: center;
}

#plane {
  padding-left: 10px;
}
#plane:hover {
  transform: rotate(-35deg);
  transition: 1s;
}
#submit-button {
  height: 50px;
  border: none;
  outline: none;
  background-color: orange;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
#submit-button img {
  width: 20px;
  height: 20px;
}

#input-city-form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#city-div {
  width: 90%;
  display: none;
  flex-direction: column;
  align-items: center;

  justify-content: space-evenly;
  margin-top: 50px;
}
.text-in-city-div {
  font-size: 26px;

  text-transform: uppercase;
}

#current-temp {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid orange;
  border-radius: 5px;
  font-size: 28px;
  margin-top: 25px;
  padding-bottom: 5px;
}
#current-temp img {
  border-top: 1px solid orange;
}

.city-name {
  font-size: 90px;
  font-weight: bold;
  padding-top: 15px;
}

.city-name-small {
  font-size: 24px;
  margin-top: 0;
  padding-top: 0;
  margin-right: 5px;
}

#current-temp-container {
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.current-temp-div-text {
  font-size: 24px;
  margin-right: 5px;
}


.country-name {
  font-size: 28px;
}

.currency-of-country-text {
  display: flex;
  font-size: 24px;
  align-items: center;
  width: 80%;
  justify-content: center


}

.currency-of-country-text .country-name{
margin-left: 4px;
}

.currency-of-country-text #currency-amount{
  margin-right: 5px;
}

.currency-in-container {
  display: flex;
  align-items: center;
  font-size: 28px;
  margin-top: 70px;
}

.currency-in-container .country-name {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
}

#currency-amount{
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center
}

#about-country {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  border: 5px solid orange;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 8px;
}

#flag-of-country {
  width: 180px;
  height: 100px;

  background-size: 180px 100px;
}

#country-name-and-flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weekly-forecast-container {
  width: 100%;
  height: 180px;

  display: flex;
  justify-content: space-between;
}

.weekly-forecast-container-day {
  height: 100%;
  width: 14%;
  border: 1px solid orange;
  border-radius: 5px;
  font-size: 24px;
}

#convert-button{
  height: 50px;
  width: 100px;
  background-color: orange;
  font-size: 24px;
  color: white;
}

.currency-of-country-container{
  margin-top: 20px;
  margin-bottom: 100px;
  width: 70%;
}



#myChart {
  width: 80%;
}

#mychart-container {
  width: 100%;
  height: 500px;

  margin-top: 25px;
}

#symbol-picker{
  height: 50px;
}

#exchange-input{
  height: 50px;
  width: 50px;
}

#full-name-currency {
  margin-left: 5px;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#donut {
  display: none;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation: donut-spin 1.2s linear infinite;
  margin-top: 60px;

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #logo-container {
    font-size: 40px;
    width: 90%;
    justify-content: space-between;
  }
  .currency-in-container {
    font-size: 16px;
  }
  #input-city-form {
    width: 95%;
    margin-top: 100px;
  }
  .city-name {
    font-size: 44px;
    padding-top: 10px;
  }

  .city-name-small {
    font-size: 20px;
    font-weight: normal;
  }
  #country-name {
    font-size: 30px;
  }
  #flag-of-country {
    width: 100px;
    height: 50px;
    background-size: 100px 50px;
  }

  #current-temp-container {
    flex-direction: column;
    margin-top: 25px;
  }

  #current-temp {
    margin-top: 20px;
  }

  #mychart-container {
    width: 375px;
    height: 400px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
